# App Configuration
PORT=3000
SESSION_SECRET=your_secret_key_here

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/water_quality_app

# Seeding Options
SEED_LIMIT=5000
RESET_DB=true
SEED_BATCH_SIZE=1000
SALT_ROUNDS=10

# Default Test Credentials (Defaults are used if not provided)
# DEMO_USER_EMAIL=test123@gmail.com
# DEMO_ADMIN_EMAIL=admin123@gmail.com
# DEMO_PASSWORD=Password123!